annotated-types==0.7.0
black==23.7.0
click==8.1.4
et-xmlfile==1.1.0
mypy-extensions==1.0.0
numpy==1.26.4
openpyxl==3.1.2
packaging==23.1
pandas==2.2.2
pathspec==0.11.1
PdfStampTools @ git+https://github.com/Yuu-Miino-NUE/PdfStampTools.git@a8fae9eb4eac6570b55d799bcd08b54cae5e6a89
Pillow==10.0.0
platformdirs==3.8.1
pydantic==2.7.1
pydantic_core==2.18.2
pypdf==3.12.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
reportlab==4.0.4
six==1.16.0
typing_extensions==4.11.0
tzdata==2023.3
